# INFO

The data Enedis gave us were split, we have to merge them. I also converted temperature to Kelvin.


# Imports & Magics

In [1]:
%matplotlib inline
from utils.setup import *

In [2]:
X_train = pd.read_csv(TRAIN_INPUT_RAW)
y_train = pd.read_csv(TRAIN_OUTPUT_RAW)
test = pd.read_csv(TEST_INPUT_RAW)

# Merging

In [3]:
X_train.head()

,IDS,Horodate_UTC,Horodate,Mois,Injection RTE (W),Refoulement RTE (W),Pertes modélisées (W),Consommations totale (W),Consommation HTA télérelevée à courbe de charge (W),Consommation totale profilée (W),Consommation HTA profilée (W),Consommation PME-PMI profilée (W),Consommation professionnelle profilée (W),Consommation résidentielle profilée (W),Production décentralisée totale (W),Production décentralisée télérelevée à courbe de charge (W),Production décentralisée profilée (W),Production photovoltaïque profilée (W),Production autre profilée (W),Température réalisée lissée (°Celcius),Température normale lissée (°Celcius),Production éolienne totale (W),Production photovoltaïque totale (W),Pseudo rayonnement,Consommation HTA totale (W),Soutirage net vers autres GRD (W)
0,1,13/10/2013 22:00,2013-10-13T00:00:00+02:00,10,39784230000,103415000,2849582877,37576289504,8062590100,29513699404,1009515939,2924365887,4819516366,20760301211,1181480681,1169604460,11876221,0.0,608873.0,9.6,13.5,302936853.0,19660.0,NaN,9072106039,436423300
1,2,13/10/2013 22:30,2013-10-13T00:30:00+02:00,10,37114681000,119543000,2603906116,35230706411,8023402840,27207303571,1007708541,2881297990,4765108695,18553188344,1247399186,1235680180,11719006,0.0,608873.0,9.6,13.5,368725682.0,17004.0,NaN,9031111381,407924660
2,3,13/10/2013 23:00,2013-10-13T01:00:00+02:00,10,36148675000,136447000,2516689035,34428316838,7982839990,26445476848,966660739,2790724292,4500901592,18187190226,1331017863,1319275090,11742773,0.0,608873.0,9.6,13.5,448572685.0,24299.0,NaN,8949500729,398239990
3,4,13/10/2013 23:30,2013-10-13T01:30:00+02:00,10,35488831000,164083000,2457628530,33922151279,7953531370,25968619909,929311479,2653092678,4308193617,18078022135,1435603490,1423884480,11719010,0.0,608873.0,9.5,13.5,550243295.0,23308.0,NaN,8882842849,380571680
4,5,14/10/2013 00:00,2013-10-13T02:00:00+02:00,10,34882911000,191859000,2403762298,33447730318,7922448360,25525281958,907509517,2641317515,4166651481,17809803445,1527593647,1515861840,11731807,0.0,608873.0,9.5,13.5,644783673.0,21963.0,NaN,8829957877,367153030

In [4]:
y_train.head()

,IDS,Horodate_UTC,Horodate,Mois,RES1_BASE,RES11_BASE,PRO1_BASE,RES2_HC,RES2_HP,PRO2_HC,PRO2_HP
0,1,13/10/2013 22:00,2013-10-13T00:00:00+02:00,10,0.791405,0.698925,NaN,2.780413,0.346364,NaN,NaN
1,2,13/10/2013 22:30,2013-10-13T00:30:00+02:00,10,0.693700,0.722778,NaN,2.301527,0.375439,NaN,NaN
2,3,13/10/2013 23:00,2013-10-13T01:00:00+02:00,10,0.648565,0.678717,NaN,2.361320,0.268125,NaN,NaN
3,4,13/10/2013 23:30,2013-10-13T01:30:00+02:00,10,0.621059,0.668509,NaN,2.567490,0.192953,NaN,NaN
4,5,14/10/2013 00:00,2013-10-13T02:00:00+02:00,10,0.612245,0.700487,NaN,2.563460,0.075701,NaN,NaN

In [5]:
y_train.drop(['Horodate_UTC', 'Horodate', 'Mois'],inplace=True,axis=1)
train = pd.merge(X_train, y_train, on=['IDS', 'IDS'])

# Temperature

In [6]:
train['Température normale lissée (°Celcius)'] = train['Température normale lissée (°Celcius)'].apply(lambda x: x+273.15)
train['Température réalisée lissée (°Celcius)'] = train['Température réalisée lissée (°Celcius)'].apply(lambda x: x+273.15)
train = train.rename(columns={'Température normale lissée (°Celcius)': 'Température normale lissée (°K)', 'Température réalisée lissée (°Celcius)': 'Température réalisée lissée (°K)'})

In [7]:
test['Température normale lissée (°Celcius)'] = test['Température normale lissée (°Celcius)'].apply(lambda x: x+273.15)
test['Température réalisée lissée (°Celcius)'] = test['Température réalisée lissée (°Celcius)'].apply(lambda x: x+273.15)
test = test.rename(columns={'Température normale lissée (°Celcius)': 'Température normale lissée (°K)', 'Température réalisée lissée (°Celcius)': 'Température réalisée lissée (°K)'})

# EXPORT

In [8]:
pd.DataFrame.to_csv(train, TRAIN_MERGED, index=False)
pd.DataFrame.to_csv(test, TEST_MERGED, index=False)